[run]
branch = True
source =
    src
omit =
    */__init__.py
    src/schemes/ml_dsa/*
    src/schemes/ml_kem/encaps.py
    src/schemes/ml_kem/decaps.py
    src/schemes/ml_kem/ml_kem.py
    src/comms/*
    src/experiments/*
    src/app/*

[report]
show_missing = True
skip_covered = False
omit =
    */__init__.py
    src/schemes/ml_dsa/*
    src/schemes/ml_kem/encaps.py
    src/schemes/ml_kem/decaps.py
    src/schemes/ml_kem/ml_kem.py
    src/comms/*
    src/experiments/*
    src/app/*

[html]
directory = coverage/html
